    <!-- ======= Gallery Single Section ======= -->
    <section id="gallery-single" class="gallery-single">
      <div class="container">
        <div class="row justify-content-between gy-4 mt-4">
          <div class="col-lg-8">
            <div class="portfolio-description">
              
              <h1><i class="fas fa-image"></i><%= link_to @exhibition.title, exhibition_path(@exhibition) %></h1>
              <h4><%= @exhibition.description %></h4>
              <p><i class="fas fa-calendar-alt"></i>  <%= l @exhibition.created_at, format: :long%></p>
            </div>
          </div>
        </div>

         <!-- 写真workエリア -->
        <%= render 'works/works', { works: @works } %>


        <!-- ここから下に、commentsのような感じで、workのフォームを入れ込む -->
        <% if logged_in? %>
          <%= render partial: 'works/form', locals: { exhibition: @exhibition, work: @work } if current_user.own?(@exhibition) %>
        <% end %>

        <!-- ここから下は、多分JSのsliderなるものが必要。MVPリリース後に実装予定 -->
        <%# <div class="position-relative h-100">
          <div class="slides-1 portfolio-details-slider swiper">
            <div class="swiper-wrapper align-items-center">

              <div class="swiper-slide"> %>
                <%#= image_tag "gallery/gallery-8.jpg", alt:"" %>
              <%# </div>
              <div class="swiper-slide"> %>
                <%#= image_tag "gallery/gallery-9.jpg", alt:"" %>
              <%# </div>

            </div>
            <div class="swiper-pagination"></div>
          </div>
          <div class="swiper-button-prev"></div>
          <div class="swiper-button-next"></div>

        </div> %>
      </div>

    

    </section><!-- End Gallery Single Section -->
