    <!-- ======= Gallery Single Section ======= -->
    <section id="gallery-single" class="gallery-single">
      <div class="container">
        <div class="row justify-content-between gy-4 mt-4">
          <div class="col-lg-8">
            <div class="portfolio-description">
              <h2><%= @exhibition.title %></h2>
              <p><%= @exhibition.description %></p>
              <p><%= l @exhibition.created_at, format: :long%></p>
            </div>
          </div>
        </div>

         <!-- 写真workエリア -->
        <%= render 'works/works', { works: @works } %>


        <!-- ここから下に、commentsのような感じで、workのフォームを入れ込む -->
        <%= render partial: 'works/form', locals: { exhibition: @exhibition, work: @work } %>

        <div class="position-relative h-100">
          <div class="slides-1 portfolio-details-slider swiper">
            <div class="swiper-wrapper align-items-center">

              <div class="swiper-slide">
                <%= image_tag "gallery/gallery-8.jpg", alt:"" %>
              </div>
              <div class="swiper-slide">
                <%= image_tag "gallery/gallery-9.jpg", alt:"" %>
              </div>

            </div>
            <div class="swiper-pagination"></div>
          </div>
          <div class="swiper-button-prev"></div>
          <div class="swiper-button-next"></div>

        </div>
      </div>

    

    </section><!-- End Gallery Single Section -->