<div class="row mb-3">
  <div class="col-lg-8 offset-lg-2">
    <%= form_with model: work, url: [exhibition, work], local: true do |f| %>
        <div class="form-group">
            <%= f.label :work_image %>
            <%= f.file_field :work_image, onchange: 'previewImage()', class: 'form-control mb-3', accept: 'image/*' %>
            <%= f.hidden_field :work_image_cache %>
        </div>

        <div class='mt-3 mb-3'>
        <%= image_tag work.work_image.url,
                    id: 'preview',
                    size: '300x200' %>
        </div>
      
      <%= f.label :body %>
      <%= f.text_area :body, class: 'form-control mb-3', row: 4, placeholder:"写真に一言" %>
      <%= f.submit '登録する', class: 'btn btn-primary' %>
    <% end %>
  </div>
</div>