<!-- ======= Header ======= -->
  <header id="header" class="header d-flex align-items-center fixed-top">
    <div class="container-fluid d-flex align-items-center justify-content-between">

      <%= link_to root_path, class:"logo d-flex align-items-center  me-auto me-lg-0" do %>
        <i class="bi bi-camera"></i>
        <h1>PhotoUp!</h1>
      <% end %>

      <nav id="navbar" class="navbar">
        <ul>
          <li><%= link_to '個展を開く', new_exhibition_path %></li>
          <li><%= link_to '個展一覧', exhibitions_path %></li>
          <li><%= link_to '開催した個展', my_exhibition_exhibitions_path %></li>
          <li class="dropdown"><a href="#"><span>お気に入り</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
            <ul>
              <li><a href="gallery.html">Nature</a></li>
              <li><a href="gallery.html">People</a></li>
              <li><a href="gallery.html">Architecture</a></li>
              <li><a href="gallery.html">Animals</a></li>
              <li><a href="gallery.html">Sports</a></li>
              <li><a href="gallery.html">Travel</a></li>
              <li class="dropdown"><a href="#"><span>マイページ</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
                <ul>
                  <li><a href="#">Sub Menu 1</a></li>
                  <li><a href="#">Sub Menu 2</a></li>
                  <li><a href="#">Sub Menu 3</a></li>
                </ul>
              </li>
            </ul>
          </li>
          <li><a href="services.html">マイページ</a></li>
          <li><%= link_to 'ログアウト', logout_path, method: :delete %></li>
        </ul>
      </nav><!-- .navbar -->
      
  </header><!-- End Header -->